// Primary Colors
$arsenic: #3D405B;
$terracotta: #E07A5F;
$beige: #F4F1DE;

// Grayscale Colors
$darkpuce: #474240;
$quicksilver: #A49E9C;
$lightgray: #D5D2D1;
$snow: #FAFAFA;

 // Typeface
 $meta: "ff-meta-serif-web-pro", serif;
 $gothic: "league-gothic", sans-serif;
 $proxima: "proxima-nova", serif;